.main{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3,1fr);
	width: 50%;
	height: 900px;
	/*background-color: gray;*/
	grid-gap: 20px;
	padding-left: 40px;

}
.main .item1{
	grid-column-start:1;
	grid-column-end: 3;

}
.main .item4{
	grid-column:1/3;
}




.rightgalary{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3,1fr);
	width: 50%;
	height: 900px;
	/*background-color: gray;
*/	grid-gap: 20px;
	padding-left: 40px;
	/*margin-top: 30px;*/


}.rightgalary .item5{
	/*background-color: pink;*/
	grid-column-start:1;
	grid-column-end: 3;
}

.Galaryflex{
	display: inline-flex;
	justify-content: space-around;
	align-content: center;
	width: 100%;
	height: 1050px;
	margin-bottom: 40px;
}




