/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("./fonts/Roboto-Regular.ttf");
}

@font-face{
    font-family: "Roboto Bold";
    src:url("./fonts/Roboto-Bold.ttf")
}

html{
    /* font-family: "Roboto Regular"; */
    /* font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
} */ 